/* STATS */
.hero-stats {
  display: flex;

  flex-wrap: wrap;

  gap:clamp(12px, 3vw, 24px);

  margin-top: 50px;
}

.stat strong {
  font-size: 20px;
  color: #c9a24a;
}

.stat{
  display:flex;
  align-items:center;
  gap:6px;
}

.tag {
  color: #c9a24a;
  letter-spacing:clamp(.5px, .8vw, 2px);
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

