/* ========================================
CONTACT HERO
======================================== */

.contact-hero{
  position:relative;

  min-height:100vh;

  display:flex;
  align-items:center;

  overflow:hidden;

  background:
    linear-gradient(
      rgba(0,0,0,0.76),
      rgba(0,0,0,0.84)
    ),
    url("img/barbearia-contato.jpg")
    center/cover no-repeat;
}

/* OVERLAY */

.hero-overlay{
  position:absolute;
  inset:0;

  background:
    radial-gradient(
      circle at top left,
      rgba(200,155,83,0.10),
      transparent 35%
    );

  z-index:1;
}

/* GRID */

.hero-grid{
  position:absolute;
  inset:0;

  background-image:
    linear-gradient(
      rgba(255,255,255,0.025) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255,255,255,0.025) 1px,
      transparent 1px
    );

  background-size:60px 60px;

  opacity:.5;

  z-index:1;
}

/* GLOW */

.hero-glow{
  position:absolute;

  top:-200px;
  left:-200px;

  width:700px;
  height:700px;

  background:
    radial-gradient(
      circle,
      rgba(200,155,83,0.12),
      transparent 70%
    );

  z-index:1;
}

/* CONTAINER */

.contact-container{
  position:relative;

  z-index:2;

  width:100%;
  max-width:1300px;

  margin:auto;

  padding:160px 40px 70px;
}

/* CONTENT */

.contact-content{
  max-width:760px;
}

/* MINI */

.mini-wrapper{
  display:flex;
  align-items:center;
  gap:18px;

  margin-bottom:30px;
}

.mini-line{
  width:60px;
  height:1px;

  background:#c89b53;
}

.mini-title{
  color:#c89b53;

  font-size:12px;

  letter-spacing:4px;
}

/* TITLE */

.contact-content h1{
  font-family:'Playfair Display', serif;

  font-size:58px;

  line-height:1.02;

  font-weight:500;

  margin-bottom:28px;
}

.contact-content h1 span{
  display:block;

  color:#c89b53;

  font-style:italic;
}

/* TEXT */

.contact-content p{
  max-width:580px;

  color:#b8b8b8;

  font-size:16px;

  line-height:1.65;

  margin-bottom:38px;
}

/* ACTIONS */

.hero-actions{
  display:flex;
  gap:20px;
}

/* FOOTER */

.hero-footer{
  position:absolute;

  right:40px;
  bottom:40px;

  text-align:right;
}

/* LOCATION */

.footer-location{
  display:flex;
  align-items:center;
  justify-content:flex-end;

  gap:14px;

  margin-bottom:10px;
}

.footer-line{
  width:60px;
  height:1px;

  background:#c89b53;
}

.footer-location span{
  color:#c89b53;

  letter-spacing:4px;

  font-size:12px;
}

.hero-footer p{
  color:#8f8f8f;

  font-style:italic;
}