/* ========================================
RESET
======================================== */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#050505;
  color:#fff;

  font-family:'Inter', sans-serif;

  overflow-x:hidden;
}

/* SCROLLBAR */

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-track{
  background:#050505;
}

::-webkit-scrollbar-thumb{
  background:rgba(200,155,83,0.55);
  border-radius:999px;
}

::-webkit-scrollbar-thumb:hover{
  background:rgba(200,155,83,0.85);
}

html {
  scroll-behavior: smooth;
}