/* STATS */

.stats {
  margin-top: 80px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  border: 1px solid rgba(255,255,255,0.08);
}

.stat-box {
  padding: 28px 32px;
  border-right: 1px solid rgba(255,255,255,0.08);
}

.stat-box:last-child {
  border-right: none;
}

.stat-box h2 {
  color: #c89b53;
  font-size: 38px;
  font-family: 'Playfair Display', serif;
}

.stat-box p {
  margin-top: 8px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  color: #888;
}