*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:
    radial-gradient(circle at top left,
    rgba(200,155,83,0.06),
    transparent 35%),
    #060606;

  color:#fff;
  font-family:'Inter', sans-serif;
  overflow-x:hidden;
}

body::before{
  content:"";
  position:fixed;
  top:-200px;
  left:50%;
  transform:translateX(-50%);

  width:600px;
  height:600px;

  background:radial-gradient(
    circle,
    rgba(200,155,83,0.15),
    transparent 70%
  );

  z-index:-1;
}
.container{
  width:100%;
  max-width:1300px;
  margin:auto;
  padding:120px 40px;
  padding-top:180px;
}

/* SCROLLBAR */

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-track{
  background:#050505;
}

::-webkit-scrollbar-thumb{
  background:rgba(200,155,83,0.55);
  border-radius:999px;
}

::-webkit-scrollbar-thumb:hover{
  background:rgba(200,155,83,0.85);
}

