/* MAPA */


.location-map{
  position:relative;


  min-height:500px;


  background:#050505;


  overflow:hidden;
}


/* GRID */


.grid-overlay{
  position:absolute;
  inset:0;


  background-image:
    linear-gradient(rgba(255,255,255,0.025) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.04) 1px, transparent 1px);


  background-size:50px 50px;
}

/* SVG DAS LINHAS */

.map-waves{
  position:absolute;
  inset:0;

  width:100%;
  height:100%;

  z-index:1;
}

/* BASE */

.wave{
  fill:none;

  stroke-width:1.2;

  vector-effect:non-scaling-stroke;
}

/* DOURADA PRINCIPAL */

.gold-wave{
  stroke:rgba(200,155,83,0.42);

  filter:drop-shadow(
    0 0 8px rgba(200,155,83,0.15)
  );
}

/* ESCURA */

.dark-wave{
  stroke:rgba(255,255,255,0.08);
}

/* DOURADA SUAVE */

.soft-wave{
  stroke:rgba(200,155,83,0.18);
}

/* =========================
   LINHAS CENTRAIS
========================= */

.cross-line{
  position:absolute;

  background:
    linear-gradient(
      to bottom,
      transparent,
      rgba(255,255,255,0.02),
      rgba(255,255,255,0.10),
      rgba(255,255,255,0.02),
      transparent
    );

  z-index:2;
}

/* LINHA VERTICAL */

.cross-line.vertical{
  top:0;
  bottom:0;

  left:55%;

  width:1px;
}

/* LINHA HORIZONTAL */

.cross-line.horizontal{
  left:0;
  right:0;

  top:50%;

  height:1px;

  background:
    linear-gradient(
      to right,
      transparent,
      rgba(255,255,255,0.02),
      rgba(255,255,255,0.10),
      rgba(255,255,255,0.02),
      transparent
    );
}

/* =========================
   PIN ESTILO PREMIUM
========================= */


.map-pin{
  position:absolute;


  top:50%;
  left:55%;


  transform:translate(-50%, -50%);


  width:220px;
  height:220px;


  display:flex;
  align-items:center;
  justify-content:center;
}


/* GLOW MÉDIO */


.pulse-base::before{
  content:"";


  position:absolute;
  inset:18px;


  border-radius:50%;


  background:rgba(200,155,83,0.08);
}


/* ÍCONE SVG */


.pin-center svg{
  width:22px;
  height:22px;


  stroke:#c89b53;
  stroke-width:1.7;


  fill:none;
}

.pulse-base{
  position:absolute;

  width:100px;
  height:100px;

  border-radius:50%;

  background:rgba(200,155,83,0.10);

  border:1px solid rgba(200,155,83,0.08);
}


/* CÍRCULO ANIMADO */


.pulse-ring{
  position:absolute;


  width:90px;
  height:90px;


  border-radius:50%;


  background:rgba(200,155,83,0.18);


  border:1px solid rgba(200,155,83,0.22);


  animation:ringPulse 1.0s infinite;
}


/* PIN CENTRAL */


.pin-center{
  width:58px;
  height:58px;


  border-radius:50%;


  background:rgba(0,0,0,0.82);


  border:1px solid rgba(200,155,83,0.55);


  display:flex;
  align-items:center;
  justify-content:center;


  position:relative;
  z-index:5;


  color:#c89b53;
  font-size:22px;


  backdrop-filter:blur(6px);


  box-shadow:
    0 10px 30px rgba(0,0,0,0.6),
    0 0 20px rgba(200,155,83,0.08);
}


/* TAG */


.map-tag{
  position:absolute;


  bottom:30px;
  left:30px;


  padding:12px 20px;


  border-radius:999px;


  background:#0b0b0b;


  border:1px solid rgba(255,255,255,0.08);


  font-size:12px;
  letter-spacing:2px;


  color:#ddd;
}